@layer component {
  html {
    > header {
      padding: var(--base-space);
    }

    @scope (header) {
      nav > ul {
        display: flex;
        align-items: center;
        gap: var(--base-space);
      }
    }
  }
}
