@layer component {
  a {
    --main-color: var(--color-main);
    --main-color-hover: oklch(from var(--main-color) calc(l + 0.25) c h);
    --main-color-visited: oklch(from var(--main-color) calc(l + 0.0625) c h);
    color: var(--main-color);

    &:visited {
      color: var(--main-color-visited);
    }

    &:hover {
      color: var(--main-color-hover);
    }
  }
}
