@layer component {
  a {
    --main-color: var(--color-primary);
    --main-color-hover: var(--color-primary-light);
    --main-color-visited: var(--color-primary-dark);
    color: var(--main-color);
    &:hover {
      color: var(--main-color-hover);
    }
    &:visited {
      color: var(--main-color-visited);
    }

    /** COLORS */
    &.primary {
    }
    &.info {
      --main-color: var(--color-info);
      --main-color-hover: var(--color-info-light);
      --main-color-visited: var(--color-info-dark);
    }
    &.warning {
      --main-color: var(--color-warning);
      --main-color-hover: var(--color-warning-light);
      --main-color-visited: var(--color-warning-dark);
    }
    &.danger {
      --main-color: var(--color-danger);
      --main-color-hover: var(--color-danger-light);
      --main-color-visited: var(--color-danger-dark);
    }
  }
}
