@layer component {
  button {
    --main-color: var(--color-main);
    --main-color-hover: oklch(from var(--main-color) calc(l + 0.125) c h);
    --main-color-disabled: oklch(from var(--main-color) calc(l - 0.125) c h);
    border-width: 1px;
    border-style: solid;
    border-color: var(--main-color);
    background-color: var(--main-color);
    padding: 0.5em 1em;
    color: color-contrast(var(--main-color));
    font-size: 1em;
    text-transform: uppercase;

    &:hover {
      background-color: var(--main-color-hover);
    }

    &:disabled {
      background-color: var(--main-color-disabled);
    }
  }

  /** VARIANTS */
  button[data-outline] {
    border-color: var(--main-color);
    background-color: white;
    color: var(--main-color);
  }

  button[data-outline]:hover {
    background-color: var(--main-color-hover);
    color: color-contrast(var(--main-color-hover));
  }

  /** SIZES */
  button[data-small] {
    padding: 0.25em 0.5em;
    font-size: 0.8em;
  }

  button[data-large] {
    padding: 0.75em 1.5em;
    font-size: 1.2em;
  }

  /** COLORS */
  button[data-info] {
    --main-color: var(--color-info);
  }

  button[data-success] {
    --main-color: var(--color-success);
  }

  button[data-warning] {
    --main-color: var(--color-warning);
  }

  button[data-danger] {
    --main-color: var(--color-danger);
  }
}
