@layer component {
  dialog:open {
    opacity: 1;
  }

  dialog {
    opacity: 0;
    border: 0;
  }

  @starting-style {
    dialog:open {
      opacity: 0;
    }
  }

  dialog::backdrop {
    opacity: 0.75;
    background-color: var(--color-background-dark);
  }
}
