@layer reset {
  body:has(dialog[open]) {
    overflow: hidden;
  }
}

@layer elements {
  :where(dialog) {
    opacity: 0;
    border: 0;
  }

  @starting-style {
    :where(dialog) {
      opacity: 0;
    }
  }

  :where(dialog):open {
    opacity: 100%;
  }

  :where(dialog)::backdrop {
    opacity: 75%;
  }
}
