@layer base, theme, componet, utility;

@import "./base.css";
@import "./component.css";
@import "./theme.css";
@import "./utility.css";

:root {
  --base-space: 1rem;
  --base-color: oklch(0.081 0 0)
}
