@import "../../node_modules/simpledotcss/simple.css";

/*
@import "./mcss.css";
@import "./dialog.css";
@import "./popover.css";
@import "./resets.css";
@import "./skip-link.css";
@import "./variables.css";

@layer config, resets, elements;
*/

body:has(dialog[open]) {
    overflow: hidden;
}
