@import "../../node_modules/simpledotcss/simple.css";
@import "./popover.css";
@import "./skip-link.css";

body:has(dialog[open]) {
    overflow-y: hidden;
    padding-right: 1rem;
    scrollbar-gutter: stable;
}
