@import "../../node_modules/simpledotcss/simple.css";
@import "./popover.css";
@import "./skip-link.css";

/*
body:has(dialog[open]) {
  padding-right: 1rem;
  overflow-y: hidden;
  scrollbar-gutter: stable;
}
*/
