@layer elements {
  :where([popover]) {
    transform: scaleX(0);
    opacity: 0;

    transition:
      opacity var(--transition-duration),
      transform var(--transition-duration),
      overlay var(--transition-duration) allow-discrete,
      display var(--transition-duration) allow-discrete;
    padding: 10px;
    font-size: 1.2rem;
  }

  :where(:popover-open) {
    transform: scaleX(100%);
    opacity: 1;
  }

  @starting-style {
    :where(:popover-open) {
      transform: scaleX(0);
      opacity: 0;
    }
  }

  :where([popovertarget="popover-demo"]) {
    anchor-name: --anchor-el;
  }

  :where(#popover-demo) {
    position-anchor: --anchor-el;
    top: anchor(bottom);

  }
}
