[popovertarget] {
  anchor-name: --popover-button;
}

[popover] {
  position: absolute;
  position-anchor: --popover-button;
  position-try-fallbacks: --bottom;
  /*
  bottom: anchor(top);
  left: anchor(left);
  */

  opacity: 0;

  transition:
    display 1s,
    opacity 1s;
  transition-behavior: allow-discrete;
  margin: 0;
  margin-block: 0.5rem;
  inset: auto;
}

[popover]:popover-open {
  display: grid;
  opacity: 1;
  /*
  @starting-style {
    opacity: 0;
  }
  */
}

/*
@position-try --bottom {
  bottom: auto;
  top: anchor(bottom);
}
*/
