@layer elements {
  .skip-link {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition-duration: var(--transition-duration);
    transition-property: transform;
    transition-timing-function: var(--transition-timing-function);
    margin-inline: 1rem;
    border: 1px solid var(--color-base-content);
    background: var(--color-base);
    padding: 1rem;
  }

  .skip-link:focus-within {
    transform: translateY(0%);
    margin-block: 1rem;
  }
}
