/** PALETTE https://coolors.co/264653-228176-e9c46a-994b0b-c53d1b */
@layer theme {
  :root {
    color-scheme: light dark;
    --color-background-light: oklch(0.9 0 0);
    --color-text-light: color-cotrast(var(--color-background-light));

    --color-background-dark: oklch(0.3 0 0);
    --color-text-dark: color-cotrast(var(--color-background-dark));

    --color-background: light-dark(
      var(--color-background-light),
      var(--color-background-dark)
    );
    --color-text: light-dark(var(--color-text-light), var(--color-text-dark));
    --color-background-inverted: light-dark(
      var(--color-background-dark),
      var(--color-background-light)
    );
    --color-text-inverted: light-dark(
      var(--color-text-dark),
      var(--color-text-light)
    );

    --color-primary: oklch(0.6 0.2 250);
    --color-success: oklch(0.7 0.15 140);
    --color-info: oklch(77.907% 0.12631 183.314);
    --color-warning: oklch(0.7 0.15 90);
    --color-danger: oklch(0.7 0.15 30);

    --color-main: var(--color-primary);
    --color-main-light: oklch(from var(--color-main) calc(l + 0.0625) c h);
    --color-main-dark: oklch(from var(--color-main) calc(l + 0.0625) c h);

    --font-size-base: 1rem;
    --font-size-large: 1.5rem;
    --font-size-small: 0.875rem;
    --line-height: 1.5;
    --font-family: sans-serif;

    --sizing-xs: 0.125rem;
    --sizing-sm: 0.25rem;
    --sizing: 1rem;
    --sizing-lg: 1.25rem;
    --sizing-xl: 1.75rem;

    --box-shadow: 0 var(--sizing-xs) var(--sizing-sm)
      var(--color-background-inverted);

    --border-radius: var(--sizing-sm);

    --outline-color: var(--color-background-inverted);
    --outline-style: solid;
    --outline-width: var(--sizing-xs);
    --outline-offset: var(--sizing-xs);

    --transition-duration: 0.3s;
    --transition-timing-function: ease-in-out;
  }
}
