@layer config {
  :root {
    --gutter: clamp(1rem, 2.5vmax, 1.5rem);
    --stack: clamp(1.25ex, 2.5vmax, 1.75ex);
    --paragraph-indent: calc(var(--gutter) / 1.25);
    --line-length: 66ch;
    --page-padding-inline: calc((100vi - min(var(--line-length), 80vi)) / 2);
    --page-padding-block: calc(var(--stack) * 8);
    --landmark-hr-size: 1ex;
    --landmark-hr-margin-block: var(--page-padding-block);
    --hr-size: 0.5ex;
    --hr-margin-block: calc(var(--stack) * 4);
    --border-image-source: gray, color-mix(in oklch, gray 40%, transparent),
      color-mix(in oklch, gray 40%, transparent), gray;
    --underline: solid;
    --focus-outline: 2px solid crimson;
    --focus-outline-offset: 2px;
    --font: "Georgia", serif;
    --font-variant: "Verdana", system-ui, sans-serif;
    --font-mono: ui-monospace, sfmono-regular, sf mono, menlo, consolas,
      liberation mono, monospace;
    --font-size: clamp(95%, 80% + 0.5vi, 130%);
    --leading: 1.475;
    --pt-double-canon: clamp(3em, 2.5179em + 2.4107vi, 4.666em);
    --pt-canon: clamp(2.5em, 2.2321em + 1.9643vi, 3.999em);
    --pt-double-great-primer: clamp(2em, 1.7143em + 1.4286vi, 2.999em);
    --pt-double-pica: clamp(1.65em, 1.3571em + 0.7143vi, 2em);
    --pt-paragon: clamp(1.35em, 1.2054em + 0.5357vi, 1.666em);
    --pt-english: 1.166em;
    --pt-pica: 1em;
    --pt-small-pica: 0.916em;
    --pt-long-primer: 0.833em;
    --pt-bourgeois: 0.75em;
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: var(--leading);
    color-scheme: dark light;
    accent-color: crimson;
  }

  [data-theme="verdana"] {
    --landmark-hr-size: 2px;
    --hr-size: 2px;
    --landmark-hr-margin-block: calc(var(--stack) * 2);
    --hr-margin-block: calc(var(--stack) * 1.5);
    --font: "Verdana", system-ui, sans-serif;
    --font-variant: var(--font);
    --font-size: clamp(75%, 65% + 0.5vi, 100%);
    --leading: 1.45;
  }
}
